name: Terraform CI

on:
  workflow_dispatch:

jobs:
  terraform:
    name: Run Terraform
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Init
        run: terraform init
        working-directory: ./terraform  # Se especifica la carpeta de Terraform

      - name: Terraform Format Check
        run: terraform fmt -check
        working-directory: ./terraform

      - name: Terraform Validate
        run: terraform validate
        working-directory: ./terraform

      - name: Terraform Plan
        id: plan
        run: terraform plan -out=tfplan
        working-directory: ./terraform

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan
        working-directory: ./terraform

      - name: Debug Outputs
        run: |
          echo "EC2_INSTANCE_ID=$(terraform output -raw ec2_instance_id)"
          echo "EC2_INSTANCE_PUBLIC_IP=$(terraform output -raw ec2_instance_public_ip)"
        working-directory: ./terraform

      - name: Set Outputs
        run: |
          echo "EC2_INSTANCE_ID=$(terraform output -raw ec2_instance_id || echo "not_found")" >> $GITHUB_ENV
          echo "EC2_INSTANCE_PUBLIC_IP=$(terraform output -raw ec2_instance_public_ip || echo "not_found")" >> $GITHUB_ENV
        working-directory: ./terraform
        
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}

